<article class="pokemon-item p-4 border rounded shadow-lg bg-white relative">
  <div
    class="font-semibold rounded-full px-2 py-1 absolute top-0 left-0 text-2xl"
  >
    #{{ pokemonLeadId() }}
  </div>
  <div class="flex justify-center absolute top-0 right-0">
    <app-pokemon-cry [pokemonId]="pokemon.id"></app-pokemon-cry>
  </div>
  <img
    [src]="pokemonImageUrl()"
    alt="{{ pokemon.name }}"
    class="mb-2 w-full h-auto object-cover rounded"
  />
  <h3 class="text-xl font-semibold capitalize text-center">
    {{ pokemon.name }}
  </h3>
</article>
