<article
  class="pokemon-item p-4 border rounded-lg shadow-lg bg-white relative cursor-pointer z-10"
  (click)="navigateToPokemon()"
>
  <div
    class="font-semibold rounded-full px-2 py-1 absolute top-0 left-0 text-2xl"
  >
    {{ pokemonLeadId() }}
  </div>
  <div class="flex justify-center absolute top-0 right-0 z-50">
    <app-pokemon-cry
      [pokemonId]="pokemon.id"
      (click)="$event.stopPropagation()"
    ></app-pokemon-cry>
  </div>
  <app-pokemon-image [pokemonId]="pokemon.id"></app-pokemon-image>
  <h3 class="text-xl font-semibold capitalize text-center">
    {{ pokemon.name }}
  </h3>
</article>
