<mat-toolbar class="flex">
  <div class="container mx-auto flex items-center w-full justify-between">
    <img
      src="https://th.bing.com/th/id/R.570fcab842fdd7d199a526f2a1e5f0f6?rik=eTEtfQ%2by0pFa2Q&pid=ImgRaw&r=0"
      width="100"
      class="max-w-full"
      alt="PokeAPI"
    />
    <div>
      <ng-container *ngFor="let route of menuRoutes">
        <a mat-button [routerLink]="route.path" class="!capitalize">{{
          route.displayName
        }}</a>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
